version: '3.8'

services:
  app:
    build: .
    container_name: gdpr-user-registry
    volumes:
      - ./data:/data
    environment:
      DATABASE_PATH: /data/test_users.db
    tty: true

volumes:
  data_volume:
